*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
--Red: rgb(255, 98, 87);
--Blue-800: hsl(234, 29%, 20%);
--Blue-700: hsl(235, 18%, 26%);
--Grey: hsl(0, 0%,58%);
--White: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 400;
    color: var(--Blue-800);
    gap:9px;
    line-height: 1.5;
    min-height: 750px;
    background-color: var(--White);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    justify-content: space-around;
    overflow:auto;
}

main {
    min-width: 375px;
    max-width: 375px;
    background-color: var(--White);
    height: calc(100vh - 20px);
}

#main-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#success-page {
    display:none;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    justify-content: space-around;
} 


h1 {
    font-weight: 700;
    font-size: 40px;
}

li {
    list-style-image: url("../assets/images/icon-list.svg");
}

label {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input, button {
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    width:100%;
}

input:hover, button:hover {
    cursor: pointer;
}

input {
    border: 1px solid var(--Grey);
    outline:none;
}

input:user-invalid {
    border: 1px solid var(--Red);
    color: var(--Red);
    background-color: rgba(255, 98, 87,0.2);;
}

button {
    background-color: var(--Blue-800);
    color:var(--White);
    font-weight: 700;
    margin-top: 20px;
    border: none;
}

button:hover {
    background: linear-gradient(to right,#FE5278,#FF683D);
}

#error-message {
    color: var(--Red);
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (width >= 850px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh; 
        gap:9px; 
        line-height: 1.5; 
        background-color: var(--Blue-800);
    }

    main {
        background-color: var(--White);
        max-height: calc(100vh - 20px);
        height: min-content;
        margin: auto auto; 
        padding:20px;
        border-radius: 20px;
    }
    
    #main-page {
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: 1fr;
        align-items: center; 
        min-height:min-content;
        min-width: 835px;
        max-height:500px;
    } 

    #container {
        grid-column: 1/2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: 100%;
        justify-content: space-around;
    }
    
    #illustration {
        grid-column: 2/3;
        grid-row: 1;
        height: 100%;
        max-height:460px;
    }
    
    #success-page {
        display:none;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        justify-content: space-around;
    } 

    .attribution { 
        color:var(--White);
    }

    .attribution a { 
        color: var(--White);
    }
}