*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
--Red: hsl(4, 100%, 67%);
--Blue-800: hsl(234, 29%, 20%);
--Blue-700: hsl(235, 18%, 26%);
--Grey: hsl(0, 0%,58%);
--White: hsl(0, 0%, 100%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }